.sc_testimonial_item
  display: flex !important
  align-items: center !important
  flex-direction: column !important
  justify-content: center !important
  min-height: ((300/16) + rem) !important

  @media (min-width: ((920/16) + rem))
    flex-direction: row !important
    height: ((300/16) + rem) !important

  &:after
    content: none !important

.sc_testimonial_avatar
  img
    min-width: 100% !important
    max-width: ((550/16) + rem) !important
    object-fit: cover !important
    min-height: 100% !important
    
